@import '../../../../shared/styles/common.scss';

.dashboard {
  @include content;

  &__header {
    text-align: center;
  }

  &__step {
    margin-top: 3px;
  }

  &__card {
    width: auto;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &__destination {
      width: 100%;
      text-align: center;
      color: gray;
    }
  }
}
