<div class="dashboard">
  <h2 class="dashboard__header">Book your flight</h2>
  <mat-horizontal-stepper linear>
    <mat-step [completed]="isRouteSelected$ | async">
      <ng-template matStepLabel>Select route</ng-template>
      <div class="dashboard__step">
        <mat-card class="dashboard__card">
          <mat-card-content>
            <app-selector></app-selector>
          </mat-card-content>
        </mat-card>
        <mat-card class="dashboard__card">
          <mat-card-content>
            <app-routes></app-routes>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirm</ng-template>
      <app-ticket-details></app-ticket-details>
    </mat-step>
  </mat-horizontal-stepper>
</div>
