@import '../../../../shared/styles/variables.scss';
@import '../../../../shared/styles/breakpoints.scss';

.dashboard {
  width: 100%;
  min-width: $min-width-padding;
  margin: auto;

  @include drawer {
    max-width: 800px;
  }

  &__destination {
    width: 100%;
    text-align: center;
    color: gray;
  }
}
