<mat-card class="item" [ngClass]="{ 'item--expired': isExpired() }">
  <div class="item__element">
      <span >{{startDate | date:'short'}}</span>
      <div class="item__element__info">
          <span class="item__element__info__section">{{ticket.route.sourceAirport.city}}</span>
          <mat-icon>arrow_forward</mat-icon>
          <span class="item__element__info__section">{{ticket.route.destinationAirport.city}}</span>
      </div>
  </div>
  <div class="item__actions">
    <button mat-icon-button color="primary" [routerLink]="ticket.id">
        <mat-icon>remove_red_eye</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="deleteTicket(ticket)">
        <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card>
