.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &__element {
    display: flex;
    align-items: center;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-items: flex-end;
  }
}
