.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;

  &__content {
    margin: 10px;
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

a.link {
  display: flex;
  justify-content: center;

  &--active {
    font-weight: bold;
    background-color: rgba(0,0,0,.1);
  }

  & > div {
    flex-grow: 1;
  }
}
