.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;

  &__content {
    margin: 10px;
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

span.header-link {
  cursor: pointer;
}

button.button {
  width: 100%;
  height: 48px;
  font-size: 1rem;

  &--active {
    font-weight: bold;
    background-color: rgba(0,0,0,.1);
  }
}
