<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <ng-container *ngIf="user$ | async as user; else login">
        <button mat-button *ngFor="let link of links" [routerLink]="link.path" class="button" routerLinkActive="button--active">
          {{link.label}}
        </button>
        <button mat-button *ngIf="user?.admin" routerLink="admin" class="button" routerLinkActive="button--active">
          Manage
        </button>
        <button mat-button class="button" (click)="logout()">Logout</button>
      </ng-container>
      <ng-template #login>
        <button mat-button routerLink="login" class="button" routerLinkActive="button--active">
          Login
        </button>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="header-link" routerLink="/">Flight booking</span>
    </mat-toolbar>
    <div class="sidenav__content">
        <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
