@import '../../../../shared/styles/breakpoints.scss';

.form {
  display: flex;
  justify-content: center;

  &__list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;

    &__item {
      display: flex;
      margin: 5px 0;

      &__card {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;

        &__sections {
          display: flex;
          flex-grow: 1;
          flex-direction: column;
          align-items: center;
          justify-content: space-evenly;

          @include drawer {
            flex-direction: row;
          }

          &__section {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__code {
              font-weight: bold;
            }

            &__date {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.spinner {
  display: flex;
  justify-content: center;
}

.no-routes {
  text-align: center;
  color: gray;
  padding-top: 16px;
}
