@import '../../../../shared/styles/variables.scss';
@import './breakpoints.scss';

@mixin content {
  width: 100%;
  min-width: $min-width-padding;
  margin: auto;

  @include drawer {
    max-width: 800px;
  }
}
