@import '../../../../shared/styles/common.scss';

.card {
  @include content;

  margin-top: 3px;

  &__title {
    display: flex;
    align-items: center;
  }

  &__details {
    &__qr-code {
      display: flex;
      justify-content: center;
      margin: 20px 0 10px;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
}

.spinner {
  margin: auto;
}
