<div class="info">
  <div>
    <h3 class="info__header">From:</h3>
    <div>
      <span>Airport name: </span>
      <b>{{ticket?.route?.sourceAirport?.name}}</b>
    </div>
    <div>
      <span>Airport code: </span>
      <b>{{ticket?.route?.sourceAirport?.iata}}/{{ticket?.route?.sourceAirport?.icao}}</b>
    </div>
    <div>
      <span>City: </span>
      <b>{{ticket?.route?.sourceAirport?.city}}</b>
    </div>
    <div>
      <span>County: </span>
      <b>{{ticket?.route?.sourceAirport?.country}}</b>
    </div>
    <div>
      <span>Start date: </span>
      <b>{{ticket?.route?.startDate | date:'long'}}</b>
    </div>
  </div>
  <div>
    <h3 class="info__header">To:</h3>
    <div>
      <span>Airport name: </span>
      <b>{{ticket?.route?.destinationAirport?.name}}</b>
    </div>
    <div>
      <span>Airport code: </span>
      <b>{{ticket?.route?.destinationAirport?.iata}}/{{ticket?.route?.destinationAirport?.icao}}</b>
    </div>
    <div>
      <span>City: </span>
      <b>{{ticket?.route?.destinationAirport?.city}}</b>
    </div>
    <div>
      <span>County: </span>
      <b>{{ticket?.route?.destinationAirport?.country}}</b>
    </div>
    <div>
      <span>Start date: </span>
      <b>{{ticket?.route?.endDate | date:'long'}}</b>
    </div>
  </div>
  <div class="info__distance">
    <span>Distance: </span>
    <b>{{ticket?.route?.distance}}</b>
  </div>

</div>
