<div class="info">
  <div>
    <h3 class="info__header">From:</h3>
    <div>
      <span>Airport name: </span>
      <span class="info__value">{{ticket?.route?.sourceAirport?.name}}</span>
    </div>
    <div>
      <span>Airport code: </span>
      <span class="info__value">{{ticket?.route?.sourceAirport?.iata}}/{{ticket?.route?.sourceAirport?.icao}}</span>
    </div>
    <div>
      <span>City: </span>
      <span class="info__value">{{ticket?.route?.sourceAirport?.city}}</span>
    </div>
    <div>
      <span>County: </span>
      <span class="info__value">{{ticket?.route?.sourceAirport?.country}}</span>
    </div>
    <div>
      <span>Start date: </span>
      <span class="info__value">{{ticket?.route?.startTime}}</span>
    </div>
  </div>
  <div>
    <h3 class="info__header">To:</h3>
    <div>
      <span>Airport name: </span>
      <span class="info__value">{{ticket?.route?.destinationAirport?.name}}</span>
    </div>
    <div>
      <span>Airport code: </span>
      <span class="info__value">{{ticket?.route?.destinationAirport?.iata}}/{{ticket?.route?.destinationAirport?.icao}}</span>
    </div>
    <div>
      <span>City: </span>
      <span class="info__value">{{ticket?.route?.destinationAirport?.city}}</span>
    </div>
    <div>
      <span>County: </span>
      <span class="info__value">{{ticket?.route?.destinationAirport?.country}}</span>
    </div>
    <div>
      <span>Start date: </span>
      <span class="info__value">{{ticket?.route?.endTime}}</span>
    </div>
  </div>
  <div class="info__distance">
    <span>Distance: </span>
    <span class="info__value">{{ticket?.route?.distance}}</span>
  </div>

</div>
