<form [formGroup]="registerForm" class="form" (ngSubmit)="onSubmit()">
  <h1>Create a new account</h1>
  <mat-form-field class="form__input">
    <input matInput formControlName="email" type="email" placeholder="Email" required>
    <mat-error>
      <span *ngIf="email.hasError('required')">Email is <strong>required</strong></span>
      <span *ngIf="email.hasError('email')">Email must be <strong>valid</strong></span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form__input">
    <input matInput formControlName="firstName" type="text" placeholder="First name" required>
    <mat-error>
      <span *ngIf="firstName.hasError('required')">First name is <strong>required</strong></span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form__input">
    <input matInput formControlName="lastName" type="text" placeholder="Last name" required>
    <mat-error>
      <span *ngIf="lastName.hasError('required')">Last name is <strong>required</strong></span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form__input">
    <input matInput formControlName="password" type="password" placeholder="Password" required #passwordField>
    <mat-error>
      <span *ngIf="password.hasError('required')">Password is <strong>required</strong></span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form__input">
    <input matInput formControlName="passwordRepeat" type="password" placeholder="Repeat password" required>
    <mat-error>
      <span *ngIf="passwordRepeat.hasError('required')">Password is <strong>required</strong></span>
    </mat-error>
  </mat-form-field>
  <mat-error>
    <div *ngIf="registerForm.hasError('match')">Passwords do not <strong>match</strong></div>
  </mat-error>
  <div class="form__password-strength">
    <app-password-strength [password]="password.value" [visible]="password.value || password.dirty" (validityChange)="isPasswordValid=$event"></app-password-strength>
  </div>
  <div class="form__actions">
    <button mat-flat-button color="primary" type="submit" class="form__actions__button--wide" [disabled]="registerForm.invalid || !isPasswordValid">
      Register
    </button>
  </div>
  <div class="form__links">
    <span>Already have an account?&nbsp;</span>
    <a routerLink="/login">Go to login page!</a>
  </div>
</form>
