<form [formGroup]="requestPasswordResetForm" class="form" (ngSubmit)="onSubmit()">
    <h1>Password reset</h1>
    <mat-form-field class="form__input">
      <input matInput formControlName="email" type="email" placeholder="Email" required>
      <mat-error>
        <span *ngIf="email.hasError('required')">Email is <strong>required</strong></span>
      </mat-error>
    </mat-form-field>
    <div class="form__actions form__actions--column">
      <button mat-flat-button color="primary" type="submit" class="form__actions__button--wide" [disabled]="requestPasswordResetForm.invalid">
        Change password
      </button>
      <button mat-stroked-button color="primary" type="button" class="form__actions__button--wide" routerLink="/login">
        Cancel
      </button>
    </div>
  </form>
